/*
!.vimrc
!.zshrc
!.tmux.conf

!.config/
.config/*

!.config/nvim
!.config/i3
!.config/i3status
!.config/i3blocks
!.config/kitty
!.config/polybar
!.config/scripts
!.config/tmux
.config/nvim/.netrwhist
